<div>
  <%= link_to "サマリ", csv_summary_path(format: :csv) %>
</div>
<div>
  <%= link_to "人気ページランク", csv_page_rank_path(format: :csv) %>
</div>
<div>
  <%= link_to "アクセス元ランク", csv_link_rank_path(format: :csv) %>
</div>
